@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap");
h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  margin-left: 100px;
}
.h1 {
  display: inline;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 100px;
}
.about {
  border-right: 2px solid black;
  padding-right: 10px;
  padding-left: 10px;
}
.home {
  border-right: 2px solid black;
  padding-right: 10px;
}
.product {
  border-right: 2px solid black;
  padding-right: 10px;
  padding-left: 10px;
}
.contact {
  padding-left: 10px;
}
.section {
  margin-left: 100px;
}
.poto {
  width: 650px;
  height: 400px;
  margin-top: 40px;
  margin-left: 100px;
}
p {
  font-size: 20px;
  margin-left: 100px;
}
h3 {
  margin-left: 100px;
}
footer {
  background-color: gray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
  display: flex;
}
.footer1{
  padding-bottom: 25px;
}
.saran {
  margin-left: 20px;

}
.kotak{
  line-height: 50px;
}
.form{
  margin-left: 80px;
}
.About{
  font-size: 30px;
  margin-left: 40px;
}
.Follow{
margin-left: 160px;
}
